<div class="container-fluid">
  <div class="d-flex justify-content-between">
    <h2>Perfil Usuario</h2>
    <a href="#" routerLink="/user/index" class="btn btn-primaryt"><h2>Volver Atrás</h2></a>
  </div>
  <form class="mx-auto form" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Perfil</h2>
  <label for="title">Usuario:</label><br>
  <input [(ngModel)]="user.usuario" formControlName="usuario"readonly id="usuario" type="text" class="" /><br>

  <label for="title">Nombres:</label><br>
  <input [(ngModel)]="user.nombres" formControlName="nombres" readonly id="nombres" type="text" class="" /><br>
  <label for="title">Apellidos:</label><br>
  <input [(ngModel)]="user.apellidos"readonly formControlName="apellidos" id="apellidos" type="text" class="" /><br>

  <label for="title">Tipo De Identificacion:</label><br>
  <input [(ngModel)]="user.tipoDeIdentificacion"readonly formControlName="tipoDeIdentificacion" id="tipoDeIdentificacion" type="text" class="" /><br>
  <label for="title">Numero De Identificacion:</label><br>
  <input [(ngModel)]="user.numDeIdentificacion"readonly formControlName="numDeIdentificacion" id="numDeIdentificacion" type="number" class="" /><br>
  <label for="fechaDeNacimiento">Fecha de nacimiento:</label><br>
  <input [(ngModel)]="user.fechaDeNacimiento" readonly formControlName="fechaDeNacimiento" id="fechaDeNacimiento" type="date" placeholder="Fecha de nacimiento"
    class=""/><br>
  <label for="title">Contraseña:</label><br>
  <input [(ngModel)]="user.contrasenna"readonly formControlName="contrasenna" id="contrasenna" type="text" class="" /><br>
  </form>
</div>
